.authentication-top-menu{
	background: #2259A9;
	color: #fff;	
}

.authentication-top-menu a h1{
	color: #fff;	
}

/**
 ** Authentication forms
 **/
 
.authentication-box{
	
}
.image-logo{
	margin-left: auto;
	margin-right: auto;
	width: 100px;	
	border-radius: 30px;
}
.login-box,
.recover-password-box{
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;	
	width: 35%;		
	background: #f1f1f1;
}

.register-box{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 50%;	
	background: #f1f1f1;
}

.wrapper-box{
	border: 5px solid #33ABED;
	padding: 30px;
}