/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

/**
 ** Regions
 **/
#header .header-logo{
}


#header .header-logo img{
	margin: 0px;
}

#header .header-search{
	float: none;
}

#header .header-body{
	border-bottom : 2px solid #EDEDED;
}

#header .header-nav.header-nav-push-top{

}

div.horizontal-menu ul.menu{
	list-style-type: none;	
	margin-left: -7px;
}

div.horizontal-menu ul.menu li.leaf{
	display: inline-block;
}

div.horizontal-menu ul.menu li.last{

}

div.profile-menu{
	background: #EDEDED;
	border-radius: 5px;
	border : 1px solid #ccc;
}

.region-sidebar-left,
.region-sidebar-right{
	background: #F4F4F4;
	padding: 10px;	
}

.region-sidebar-left h4,
.region-sidebar-right h4{
	padding: 5px;	
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #08C #08C #069;
	background-color: #2259A9;
}

/**
 ** Facets
 **/
.block-facetapi{
	padding-bottom: 25px;
}

ul.facetapi-facet-field-pub-tags li{
	float: left;
	border-radius: 7px;
	padding: 7px;
	background-color: #f4f4f4;
	margin-right:7px;
}

/**
 ** Search box
 **/ 
.search-wrapper {
	background-color: #dedede;	
	background: url('../../Porto/img/patterns/denim.png');
	border-top : 2px solid #ccc;
	margin: 0 0 0px 0;
	max-height: 65px;
	padding: 7px 0 20px 0;
	position: relative;
	text-align: left;
}

.search-box .input-group {
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.search-box .form-item{
	margin:0px;	
}

.search-box .form-control {
	font-weight: bolder;
	height: 36px;
	margin: 0;
	padding: 6px 6px;
	border-width: 0px;
	border-style: solid;
	border-color:#08C;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	transition: width 0.3s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.search-box i.fa-search{
	position: absolute;
	float: right;
	top: 10px;
	left: 5px;	
	z-index: 10;
	visibility: hidden;
}
.search-box .input-search {
	padding-left: 5px;
	background:;	
}

.search-box .btn-default {
	background: transparent;
	border: 0 none;
	color: #CCC;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.search-box .input-search{
	float: left;
	width: 89%;
}

search-box .btn-search{
	float: left;
	width: 11%;
	position: absolute;
}

.search-box .btn-default:hover {
	color: #000;
}

/**
 ** Main menu
 **/
.nav-main .fa-home{
	margin-right: 10px;
	font-size: 18px;
	margin: 0px;
	padding: 0px 
}


/**
 ** Top menu
 **/
.horizontal-menu ul.menu li{

}

/**
 ** Menu in general
 **/
ul.menu,
ul.facetapi-facetapi-checkbox-links{
	margin:0;
	padding:0;	
}

ul.menu li,
ul.facetapi-facetapi-checkbox-links li{
	list-style-type: none;
	list-style-image: none;	
}


/**
 ** Blocks
 **/
.featured-block h2{
	text-align: center;
}

section.section{
	margin:0;
	padding:0px 0px 25px 0px;	
}

section.home-intro,
section.page-header{
	background-color: #171717;
	background: url('../../Porto/img/patterns/az_subtle.png');
	border-bottom: 5px solid #F1F1F1;
	border-top: 5px solid #F1F1F1;
}

section.page-header h1{
	color: #777;
}

section.section.section-footer{
	margin-bottom: 0px;	
}

#block-views-publication-widgets-fi,
#block-views-twitter-messages-tweets-block{
	padding-left:0px;
	padding-right: 0px;	
}

/**
 ** Ads
 **/
.ad-primary .content .node .content img{
	margin-left: auto;
	margin-right: auto;		
}
.ad-primary,
.ad-secondary{
	border:1px solid #F3F3F3;	
}

.ad-primary{
	background: #d4d4d4;
	padding : 15px 0px 15px 0px;
	border-top : 1px solid #CCC;
}

.ad-secondary{
	min-height: 300px;		
}

/**
 ** Tweets
 **/
div.tweet-authorphoto {
	float: left;
	margin-right: 8px;
}
div.tweet-authorphoto img {
	border-radius: 50px;
	max-width: 48px;
	max-height: 48px;
}	


/**
 ** Contents
 **/
.featured-box{
	cursor: pointer;	
}
.featured-box:hover{
	background: #f7f7f7;
}

.featured-box .box-content {
	text-align: justify;
}

.featured-box .box-content h3{
	text-align: center;

}

.featured-box .box-content h4{
	min-height: 6em;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;	
}

.featured-box-primary .box-content h4,
.featured-box-secondary .box-content h4,
.featured-box-tertiary .box-content h4,
.featured-box-quaternary .box-content h4 {
	font-weight: normal;	
} 
.featured-box .box-content p{
	color: #1D2127;	
}

.featured-box .box-content:hover{
	border-top-color: #ccc;
}
 
.featured-box .box-content a{
	text-decoration: none;	
	color: none;
}

span.tag{
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #f4f4f4; 	
	padding: 0px 5px 0px 5px;
}

span.gold{
	background : #ffd700;	
}

span.silver{
	background: #c0c0c0;
}

span.bronze{
	background: #cd7f32;	
}

.body{

}

.uppercase{
	text-transform: uppercase;	
}

.file img.file-icon{
	float: left;
	padding-right: 3px;	
}

.region-before-content .box-outline {
	background: #f1f1f1;	
	min-height: 510px;
}

.region-before-content .box-outline h2{
	margin: 0 0 10px 0;	
}

.region-before-content .box-title{
	cursor:pointer;
	padding:10px 10px 0 10px;
	max-height: 110px;
}

.region-before-content .owl-theme .owl-controls{
	margin-top:-3px;
}
.region-before-content .owl-theme .owl-dots{
	background: #2258A9;	
	border-bottom-left-radius:.7em;
	border-bottom-right-radius:.7em;
}
.region-before-content .owl-theme .owl-dots .owl-dot.active span, 
.region-before-content .owl-theme .owl-dots .owl-dot:hover span {
	background: #fff;	
}

.region-before-content .btn-primary a,
.region-before-content .btn-primary p{
	color: #fff;	
}
.region-after-content .box-outline{
	margin-top: 30px;
	min-height: 400px;
}


.region-after-content .box-outline h2{
	border-top:0px solid #000;
	border-left:0px solid #000;
	border-right:0px solid #000;
	border-bottom:2px solid #000;
	margin: 0px;
	padding-left: 10px
}

.region-after-content .texture .content{
	background: #F4F4F4 ;/*url('../../Porto/img/patterns/worn_dots.png');*/
	padding:10px;
	min-height: 350px;
}

.centered-box h2{
	text-align: center;	
}

.field-collection-item-field-profile-subscriptions .field-items .field-item{
	float: left;
	font-size: 1.3em;
	padding: .2em;
	background: #f4f4f4;
	border: 1px solid #dedede;
	border-radius: 3px; 
	margin: .1em;
}

/**
 ** Icons
 **/
.icon-title{
	text-align: center;
}
.icon-title .icon-featured{
	background: none;
	color: #08C; 	
	margin:0px;
}

/**
 ** Charts
 **/
.featured-chart{
	border: 1px solid #dedede;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	max-width: 110px;
	min-height: 80px;
}

.chart-box{
	margin-left: auto;
	margin-right: auto;
	max-width: 730px;
	background: #fff !important;
}

/**
 ** Calendar
 **/
.calendarTable{}
.calendarRow{}
.calendarDateContainer{
	float: left;
	margin-right: 10px;
	margin-top: 8px;
	text-align: center;	
}
.day{
	background: #FFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 8px;
	border-top:1px solid #777;
	border-left:1px solid #777;
	border-right:1px solid #777;
	margin-bottom: -5px;
}
.month{
	background: #777;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	color: white;
	font-size: 0.9em;
	padding: 0 10px 2px;	
}
.calendarInfo{
	padding-top: 10px;	
}

/**
 ** Form elements
 **/
input[type="checkbox"]{
	margin-right: 10px; 	
}

.news-thumbnail{
	margin-right: 10px;	
}

.form-textarea{
	min-height: 120px;	
}


.notice-date{
	font-weight: bold;	
	border:1px solid #dedede;
	background: #FEFEFE;
	padding: 5px;
	margin: -20px 0px 10px 0px;
	float: left;
	width: 50%;
}

/**
 ** Buttons
 **/
.read-more{
	margin:10px 0px 15px 0px;	
}

a.no-decoration{
	text-decoration: none;
	color:#777;	
}
