/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

/**
 ** Regions
 **/
#header .header-logo{
}


#header .header-logo img{
	margin: 0px;
}

#header .header-search{
	float: none;
}

div.horizontal-menu ul.menu{
	list-style-type: none;	
}
div.horizontal-menu ul.menu li.leaf{
	display: inline-block;
}
div.horizontal-menu ul.menu li.last{

}
section.section{
	margin: 0px;
	padding: 0px;	
	border: none;
	
}

/**
 ** Search box
 **/ 
.search-wrapper {
	background-color: #dedede;	
	background: url('../../Porto/img/patterns/denim.png');
	border-top : 2px solid #ccc;
	border-bottom : 2px solid #ccc;
	margin: 0 0 0px 0;
	max-height: 65px;
	padding: 5px 0 20px 0;
	position: relative;
	text-align: left;
}

.search-box .input-group {
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.search-box .form-item{
	margin:0px;	
}

.search-box .form-control {
	font-weight: bolder;
	height: 36px;
	margin: 0;
	padding: 6px 12px;
	border-width: 2px;
	border-style: solid;
	border-color:#08C;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	transition: width 0.3s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.search-box i.fa-search{
	position: absolute;
	float: right;
	top: 10px;
	left: 10px;	
	z-index: 10;
}
.search-box .input-search {
	padding-left: 30px;
	background:;	
}

.search-box .btn-default {
	background: transparent;
	border: 0 none;
	color: #CCC;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.input-search{
	float: left;
	width: 70%;
}

.btn-search{
	float: left;
	width: 30%;	
}

.search-box .btn-default:hover {
	color: #000;
}

/**
 ** Top menu
 **/
.horizontal-menu ul.menu li{

}

/**
 ** Blocks
 **/
.featured-block h2{
	text-align: center;
}


section.home-intro,
section.page-header{
	background-color: #171717;
	background: url('../../Porto/img/patterns/az_subtle.png');
	border-top:none;
}

section.page-header h1{
	color: #777;
}

/**
 ** Tweets
 **/
div.tweet-authorphoto {
	float: left;
	margin-right: 8px;
}
div.tweet-authorphoto img {
	border-radius: 50px;
	max-width: 48px;
	max-height: 48px;
}	


/**
 ** Contents
 **/
div.box-content h4{
	min-height: 3em;	
}

span.tag{
border: 1px solid #ccc;
	border-radius: 3px;
	background: #f4f4f4; 	
	padding: 0px 5px 0px 5px;
}

.body{
	
}

.file img{
	float: left;
	padding-right: 3px;	
}

.field-collection-item-field-profile-subscriptions .field-items .field-item{
	float: left;
	font-size: 1.3em;
	padding: .2em;
	background: #f4f4f4;
	border: 1px solid #dedede;
	border-radius: 3px; 
	margin: .1em;
}

/**
 ** Icons
 **/
.icon-title{
	text-align: center;
}
.icon-title .icon-featured{
	background: none;
	color: #08C; 	
	margin:0px;
}

/**
 ** Charts
 **/
.featured-chart{
	border: 1px solid #dedede;
	font-weight: bolder;
	text-align: center;
	vertical-align: middle;
	max-width: 110px;
	min-height: 80px;
}