/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

/**
 ** Regions
 **/
.home-into{
	background: #dedede;	
}
/**
 ** Tweets
 **/
div.tweet-authorphoto {
	float: left;
}
div.tweet-authorphoto img {
	border-radius: 50px;
	max-width: 48px;
	max-height: 48px;
}	


/**
 ** Contents
 **/
div.box-content h4{
	min-height: 3em;	
}