.subject-parent-box {width:30%;min-height:120px;float:left;font-size:1.5em;padding:5px;border:0 none;margin:5px}
.subject-child-box  {font-size:0.7em;text-decoration:underline}
.subject-description {font-size:1.5em;margin-bottom:5px;border-bottom:1px solid #ccc;  }

/* Publication page */
.publication-item-profile{float:right;width:37%;background:#ededed;margin-left:10px;padding:10px 10px 0 10px}
.publication-item-cover-wrapper{float:left;}
.publication-item-row{float:left;width:50%}
.publication-item-cover{border:1px solid #ccc;margin-top:0px;margin-right: 15px;}
.publication-item-sheet{font-size:1em; border:0 none;width: 100%}
.publication-item-sheet-row{padding-bottom:2px;border: 1px solid #ccc;}
.publication-item-body{margin-right: 10px;float: left;width: 55%}