.subject-parent-box {width:30%;min-height:100px;float:left;font-size:1.5em;padding:5px;border:1px solid #ccc;margin:5px}
.subject-child-box  {font-size:0.7em;text-decoration:underline}
.subject-description {font-size:1.5em;margin-bottom:5px;border-bottom:1px solid #ccc;  }