# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Apache Directives 
.htaccess

# Ignore Porto commercial theme
sites/all/themes/Porto

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Stage files on Live Server
stage
