# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
# Ignore themes folder
sites/*/themes
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
