/* ----------- Search Form ------------------- */
.form-item-search-block-form input{
	min-width: 38em;
	margin-left:0.8em;
}

.button, input[type="button"], input[type="submit"] {
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	outline: medium none;
	padding: 8px 16px;
	transition: all 0.2s ease-in-out 0s;
	width: auto;
	position: absolute;
}

.button .line-color {border: 1px solid #5F8CB4;}

/* ----------------- Featured ----------------- */

#featured{
	padding: 20px 0 0px;		
}

.entity-profile {float:left;width:25%;border-right:1px solid #ededed;margin-right:10px;padding:10px 10px 0 10px}



